.wrapper {
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    position: relative;
}
.block {
    width: 300px;
    height: 200px;
    background: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}